requests
aiofiles
aiohappyeyeballs
aiohttp
aioice
aiortc
aiosignal
annotated-types
anthropic
anyio
asyncer
asyncio
attrs
av
azure-core
azure-identity
backoff
bidict
cachetools
certifi
cffi
chainlit
chardet
charset-normalizer
chevron
click
cloudevents
colorama
cryptography
dataclasses-json
defusedxml
Deprecated
deprecation
distro
dnspython
fastapi
filelock
filetype
frozenlist
fsspec
google-crc32c
googleapis-common-protos
googlemaps
grpcio
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
ifaddr
importlib_metadata
inflection
ipinfo
isodate
Jinja2
jiter
jsonschema
jsonschema-path
jsonschema-specifications
Lazify
lazy-object-proxy
literalai
MarkupSafe
marshmallow
mcp
monotonic
more-itertools
msal
msal-extensions
multidict
mypy_extensions
nest-asyncio
numpy
openai
openapi-core
openapi-schema-validator
openapi-spec-validator
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-alephalpha
opentelemetry-instrumentation-anthropic
opentelemetry-instrumentation-bedrock
opentelemetry-instrumentation-chromadb
opentelemetry-instrumentation-cohere
opentelemetry-instrumentation-crewai
opentelemetry-instrumentation-google-generativeai
opentelemetry-instrumentation-groq
opentelemetry-instrumentation-haystack
opentelemetry-instrumentation-lancedb
opentelemetry-instrumentation-langchain
opentelemetry-instrumentation-llamaindex
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-marqo
opentelemetry-instrumentation-milvus
opentelemetry-instrumentation-mistralai
opentelemetry-instrumentation-ollama
opentelemetry-instrumentation-openai
opentelemetry-instrumentation-pinecone
opentelemetry-instrumentation-qdrant
opentelemetry-instrumentation-replicate
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-sagemaker
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-threading
opentelemetry-instrumentation-together
opentelemetry-instrumentation-transformers
opentelemetry-instrumentation-urllib3
opentelemetry-instrumentation-vertexai
opentelemetry-instrumentation-watsonx
opentelemetry-instrumentation-weaviate
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-semantic-conventions-ai
opentelemetry-util-http
packaging
parse
pathable
posthog
prance
propcache
protobuf
pybars4
pycparser
pydantic
pydantic-settings
pydantic_core
pyee
PyJWT
pylibsrtp
PyMeta3
pyOpenSSL
PyPDF2
python-dateutil
python-dotenv
python-engineio
python-multipart
python-socketio
PyYAML
referencing
regex
rfc3339-validator
rpds-py
ruamel.yaml
ruamel.yaml.clib
scipy
semantic-kernel
semantic-kernel-plugins
simple-websocket
six
sniffio
sse-starlette
starlette
syncer
tavily-python
tenacity
tiktoken
tokenizers
tomli
tqdm
traceloop-sdk
typing-inspect
typing-inspection
typing_extensions
uptrace
uvicorn
watchfiles
websockets
Werkzeug
wrapt
wsproto
yarl
zipp
gunicorn
python-docx
chainlit
python-dotenv
semantic-kernel
googlemaps
requests
python-docx
PyPDF2
azure-cognitiveservices-vision-computervision
msrest
azure-search-documents
scikit-learn
numpy
azure-ai-inference
openai
